In [46]:
import pandas as pd
s = pd.Series([12,-4,7,9])
s

0    12
1    -4
2     7
3     9
dtype: int64

In [47]:
import pandas as pd
s = pd.Series([12,-4,7,9],
              index=['a','b','c','d'])
s

a    12
b    -4
c     7
d     9
dtype: int64

In [48]:
s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [49]:
s.values

array([12, -4,  7,  9], dtype=int64)

In [50]:
s[2]

7

In [51]:
s['b']

-4

In [52]:
s[0:2]

a    12
b    -4
dtype: int64

In [53]:
s[['b','c']]

b   -4
c    7
dtype: int64

In [54]:
s[1] = 0
s

a    12
b     0
c     7
d     9
dtype: int64

In [55]:
s['b'] = 1
s

a    12
b     1
c     7
d     9
dtype: int64

In [56]:
import numpy as np
arr = np.array([1,2,3,4])
s3 = pd.Series(arr)
s3

0    1
1    2
2    3
3    4
dtype: int32

In [57]:
s4 = pd.Series(s)
s4

a    12
b     1
c     7
d     9
dtype: int64

In [58]:
s3

0    1
1    2
2    3
3    4
dtype: int32

In [59]:
arr[2] = -2
s3

0    1
1    2
2   -2
3    4
dtype: int32

In [60]:
s[s > 8]

a    12
d     9
dtype: int64

In [61]:
s / 2

a    6.0
b    0.5
c    3.5
d    4.5
dtype: float64

In [62]:
np.log(s)

a    2.484907
b    0.000000
c    1.945910
d    2.197225
dtype: float64

In [63]:
serd = pd.Series([1,0,2,1,2,3],
index=['white','white','blue','green',' green','yellow'])
serd

white     1
white     0
blue      2
green     1
 green    2
yellow    3
dtype: int64

In [64]:
serd.unique()

array([1, 0, 2, 3], dtype=int64)

In [65]:
serd.value_counts()

1    2
2    2
0    1
3    1
dtype: int64

In [66]:
serd.isin([0,3])

white     False
white      True
blue      False
green     False
 green    False
yellow     True
dtype: bool

In [67]:
s2 = pd.Series([5,-3,np.NaN,14])
s2

0     5.0
1    -3.0
2     NaN
3    14.0
dtype: float64

In [68]:
s2.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [69]:
s2.notnull()

0     True
1     True
2    False
3     True
dtype: bool

In [70]:
s2[s2.notnull()]

0     5.0
1    -3.0
3    14.0
dtype: float64

In [71]:
s2[s2.isnull()]

2   NaN
dtype: float64

In [72]:
mydict = {'red': 2000, 'blue': 1000, 'yellow':
500, 'orange': 1000}
myseries = pd.Series(mydict)
myseries

red       2000
blue      1000
yellow     500
orange    1000
dtype: int64

In [73]:
colors = ['red','yellow','orange','blue','green']
myseries = pd.Series(mydict, index=colors)
myseries

red       2000.0
yellow     500.0
orange    1000.0
blue      1000.0
green        NaN
dtype: float64

In [74]:
mydict2 = {'red':400,'yellow':1000,'black':700}
myseries2 = pd.Series(mydict2)
myseries2

red        400
yellow    1000
black      700
dtype: int64

In [75]:
frame = pd.DataFrame(np.arange(16).reshape((4,4)), index=['red', 'blue', 'yellow', 'white'], columns = ['ball', 'pen', 'pencil', 'paper'])
frame.index.name = 'id'
frame.columns.name = 'item'
frame

item    ball  pen  pencil  paper
id
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [76]:
frame['new'] = 12
frame

item    ball  pen  pencil  paper  new
id
red        0    1       2      3   12
blue       4    5       6      7   12
yellow     8    9      10     11   12
white     12   13      14     15   12

In [78]:
myseries + myseries2

black        NaN
blue         NaN
green        NaN
orange       NaN
red       2400.0
yellow    1500.0
dtype: float64

In [ ]:
import pandas as pd
data = pd.Series(["Январь", "Февраль", "Март",
"Апрель"],
index = ['Первый', "Второй",
"Третий", "Четвѐртый"])
display(data)

In [2]:
data = pd.Series([list(range(10, 1001))])
print(data.loc[10] + data.loc[23] - data.loc[245] +
data.iloc[122])

NameError: name 'pd' is not defined